<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div>
   <input [(ngModel)]=a type="text"><br><br>
   <button (click)="tujuh()">7</button>;
   <button (click)="delapan()">8</button>;
   <button (click)="sembilan()">9</button>$nbsp;
   <button (click)="empat()">4</button>;
   <button (click)="lima()">5</button>;
   <button (click)="enam()">6</button>$nbsp;
   <button (click)="satu()">1</button>;
   <button (click)="dua()">2</button>;
   <button (click)="tiga()">3</button>&nbsp;
   <button (click)="min()">-</button>;
   <button (click)="plus()">+</button>;
   <button (click)="kali()">*</button>;
   <button (click)="Hasil()">=</button>&nbsp;
  
</div>

<router-outlet></router-outlet>